<div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card border-dark mb-3" style="max-width: 60rem;">
        <div class="card-header text-center">Modificar cliente</div>
        <div class="card-body">
            <form ngNativeValidate [formGroup]="datosCliente" (ngSubmit)="editarCliente()">

                <!-- Nombre Completo -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Nombre Completo"
                                formControlName="nombreCompleto">
                        </div>
                        <span class="text-danger ml-2"
                            *ngIf="datosCliente.get('nombreCompleto').hasError('required') && datosCliente.get('nombreCompleto').touched">
                            El campo es <strong>obligatorio</strong>
                        </span>

                    </div>
                </div>

                <!-- Identificacion -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Identificacion"
                                    formControlName="identificacion">
                            </div>
                            <span class="text-danger ml-2"
                                *ngIf="datosCliente.get('identificacion').hasError('required') && datosCliente.get('identificacion').touched">
                                El campo es <strong>obligatorio</strong>
                            </span>

                        </div>
                    </div>
                </div>

                <!-- Edad -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" type="number" placeholder="Edad" formControlName="edad">
                            </div>
                            <span class="text-danger ml-2"
                                *ngIf="datosCliente.get('edad').hasError('required') && datosCliente.get('edad').touched">
                                El campo es <strong>obligatorio</strong>
                            </span>

                        </div>
                    </div>
                </div>

                <!-- Genero -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <select class="form-control" formControlName="genero" placeholder="Genero">
                                <option>Masculino</option>
                                <option>Femenino</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Enfermdad -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="checkbox" (change)="disableControl(checkboxEnfermedad.checked)"
                                #checkboxEnfermedad [checked]="datosCliente.get('enfermedad').value == true">
                            <label for="enfermedad" style="padding-left: 10px;">Padece enfermedad</label>
                            <textarea class="form-control" placeholder="Enfermedades"
                                formControlName="enfermedad"></textarea>
                        </div>
                        <span class="text-danger ml-2"
                            *ngIf="datosCliente.get('enfermedad').hasError('required') && datosCliente.get('enfermedad').touched">
                            El campo es <strong>obligatorio</strong>
                        </span>

                    </div>
                </div>

                <!-- Maneja -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Maneja" disabled="true">
                            <div class="input-group-prepend">
                                <div class="form-control">
                                    <input type="checkbox" formControlName="maneja">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Usa Lentes -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Usa Lentes" disabled="true">
                            <div class="input-group-prepend">
                                <div class="form-control">
                                    <input type="checkbox" formControlName="usaLentes">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Diabetico -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Diabetico" disabled="true">
                            <div class="input-group-prepend">
                                <div class="form-control">
                                    <input type="checkbox" formControlName="diabetico">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- datosAdicionales -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group" style="align-items: center;"
                            *ngFor="let dato of datosAdicionales; let i = index">
                            <input type="text" class="form-control" value="{{ dato.descripcion }}">
                            <mat-icon class="delete-add" (click)="deleteDatosAdicionales(i)">highlight_off</mat-icon>
                        </div>
                    </div>
                </div>


                <div class="input-group" style="place-content: end;">
                    <div class="input-group-prepend">
                        <div class="form-control">
                            <mat-icon class="delete-add" (click)="addDatosAdicionales()">add_circle_outline</mat-icon>
                        </div>
                    </div>
                </div>
                <!-- Botones -->
                <br>
                <button class="btn btn-primary btn-block form-button" [disabled]="datosCliente.invalid">Guardar</button>
                <button class="btn btn-danger btn-block form-button" routerLink="/dashboard">Cancelar</button>
            </form>

        </div>

    </div>
</div>