<!-- <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" routerLink="/dashboard">Consultar Clientes</a>
        <a class="p-2 text-dark" routerLink="/dashboard/cambiar-password">Cambiar Password</a>
        <a class="p-2 text-dark">Bienvenido, {{ nombreUsuario }}</a>
    </nav>
    <a class="btn btn-outline-success" (click)="LogOut()">LogOut</a>
</div> -->


<mat-toolbar class="toolbar">
    <img _ngcontent-c1="" alt="Bitsion" src="../../../../assets/img/logoCubo.png" style="height:40px" title="Bitsion">
    <h5 class="my-0 mr-md-auto font-weight-normal">Mi Empresa</h5>
    <span class="example-spacer"></span>
    <div class="nav">

        <button mat-button routerLink="/dashboard">Clientes</button>
        <button mat-button routerLink="/dashboard/nuevo-cliente">Nuevo Cliente</button>
        <button mat-button routerLink="/dashboard/cambiar-password">Cambiar constraseña</button>
    </div>
    <span class="example-spacer"></span>
    <!-- <button mat-button routerLink="/dashboard">LogOut</button> -->
    <button mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with menu icon">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>